<div class="container-fluid">
	<div class="jumbotron">
		<a id="mainHeader" href="/"><h1><span class="glyphicon glyphicon-globe"></span> New York Times Article Scrubber</h1></a>
		<h3>Search for and Save Articles of Interest</h3>
	</div>
</div>