.jumbotron {
	text-align: center;
	background-color: silver;
	color: black;
}

.glyphicon {
	color: black;
}

#mainHeader {
	color: black;
	font-style: italic;
	text-decoration: none;
}

#mainHeader:link {
	color: black;
	font-style: italic;
	text-decoration: none;
}

#mainHeader:visited {
	color: black;
	font-style: italic;
	text-decoration: none;
}

#mainHeader:hover {
	color: black;
	font-style: italic;
	text-decoration: none;
}

#mainHeader:active {
	color: black;
	font-style: italic;
	text-decoration: none;
}

input {
	width: 100%;
}

#searchSubmitDiv {
	text-align: center;
}

#resultListing, #savedListing {
	overflow: auto;
}

#saveButton, #deleteButton {
	float: right;
}